{
  "openapi": "3.0.0",
  "info": {
    "title": "MyxSpend API",
    "description": "API for processing payments via MyxSpend",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myxspend.com/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "description": "Authenticate and retrieve a bearer token and headers",
        "requestBody": {
          "description": "Get your details to use for future Process Payments. Note, your API Key (X-API-KEY) and Company Id (X-COMPANY-ID) are returned within the response headers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-API-KEY": {
                "description": "This is your API KEY",
                "schema": {
                  "type": "string"
                }
              },
              "X-COMPANY-ID": {
                "description": "Your company ID",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payment/process": {
      "post": {
        "description": "Process a payment transaction",
        "security": [
          {
            "bearerAuth": [],
            "apiKeyAuth": [],
            "companyId": []
          }
        ],
        "requestBody": {
          "description": "Payment details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful payment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/postback/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Payment": {
        "required": [
          "firstName",
          "lastName",
          "customerOrderId",
          "email",
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "description": "Customer first name",
            "type": "string"
          },
          "lastName": {
            "description": "Customer last name",
            "type": "string"
          },
          "customerOrderId": {
            "description": "Customer order id (must be a unique id for each customer - recommend UUID format)",
            "type": "string"
          },
          "email": {
            "description": "Customer email address",
            "type": "string"
          },
          "phoneNo": {
            "description": "Customer phone number",
            "type": "string"
          },
          "amount": {
            "description": "Invoice amount",
            "type": "number"
          },
          "currency": {
            "description": "Currency",
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ]
          }
        }
      },
      "Login": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "description": "Email address used to login",
            "type": "string"
          },
          "password": {
            "description": "Password used to login",
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "required": [
          "email",
          "accountId",
          "roles",
          "token",
          "redirectPath"
        ],
        "properties": {
          "email": {
            "description": "Email address of logged in user",
            "type": "string"
          },
          "accountId": {
            "description": "Account Id (not to be confused with Company Id)",
            "type": "string"
          },
          "roles": {
            "description": "Array of roles assigned to the user",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "token": {
            "description": "Bearer token",
            "type": "string"
          },
          "redirectPath": {
            "description": "Path to redirect after login",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "errorCode",
          "description"
        ],
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      },
      "companyId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-COMPANY-ID"
      }
    }
  }
}
