{
  "openapi": "3.1.0",
  "info": {
    "title": "MyxSpend API",
    "description": "API for processing payments via MyxSpend",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apidocs.myxspend.com/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Authenticate and retrieve a bearer token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "X-API-KEY": { "type": "string" },
                    "X-COMPANY-ID": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/process": {
      "post": {
        "summary": "Process a payment transaction",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number" },
                  "currency": { "type": "string" },
                  "payment_method": { "type": "string" },
                  "customer_id": { "type": "string" }
                },
                "required": ["amount", "currency", "payment_method", "customer_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": { "type": "string" },
                    "status": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
