{
  "openapi": "3.1.0",
  "info": {
    "title": "MyxSpend AP",
    "description": "API for processing payments via MyxSpend",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myxspend.com/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "description": "Authenticate and retrieve a bearer token and headers",
        "requestBody": {
          "description": "Get details to use for future Process Payments",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": { "type": "string" },
                    "email": { "type": "string" },
                    "redirectPath": { "type": "string" 
                    "roles": [{ "type": "string" }],
                    "token": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payment/process": {
      "post": {
        "description": "Process a payment transaction",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "headers": {
      "X-Rate-Limit-Remaining": {
        "description": "The number of requests left for the time window",
        "schema": {
          "type": "integer"
        }
      },
      "Content-Type": {
        "description": "Content type of the response",
        "schema": {
          "type": "string"
        }
      }
    },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Payment": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Login": {
        "allOf": [
          {
            "required": [
              "email",
              "password"
            ],
            "type": "object",
            "properties": {
              "email": {
                "description": "Email address used to login",
                "type": "string"
              },
              "password": {
                "description": "Password used to login",
                "type": "string"
                
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}